services:
  childsong-test:
    image: cpsu/childsong:v0.3.0-test
    build: .
    env_file:
      - .env
    ports:
      - "8010:8000"
    stdin_open: true
    tty: true
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              device_ids: [ "1" ]
              capabilities: [ gpu ]
